<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Miscellaneous</title>
</head>
<body>
<div class="container-fluid">
    <!-- 標題 -->
    <div class="row text-center py-3">
        <h1>Index</h1>
    </div>

    <!-- 內容 -->
    <div class="row fs-3 text-center py-3 gap-3">
        <div class="col-12">
            <a href="/refactor">重構 (Refactor)</a>
        </div>
        <div class="col-12">
            <a href="/rwd">RWD (Responsive Web Design)</a>
        </div>
        <div class="col-12">
            <a href="/ui_ux_concept">UI/UX Concept</a>
        </div>
        <div class="col-12">
            <a href="/meet/0">會議</a>
        </div>
        <div class="col-12">
            <a href="/tree/0">樹狀階層控制 Demo</a>
        </div>
        <div class="col-12">
            <a href="/statechart/0">狀態圖</a>
        </div>
        <div class="col-12">
            <a href="https://docs.google.com/presentation/d/e/2PACX-1vRIDcO4xJhQ1ohgj2mjDGrMNPzv7h34qEWXVgNX7WtIwVga13DapIGhsxEMf6r7n_15zVVnHNtNRAvM/pub?start=false&loop=false&delayms=3000">活動圖</a>
        </div>
        <div class="col-12">
            <a href="/selenium/0">Selenium</a>
        </div>
        <div class="col-12">
            <a href="/acid/0">ACID</a>
        </div>
        <div class="col-12">
            <a href="/book/0">人月神話</a>
        </div>
        <div class="col-12">
            <a href="/test_engineer/0">測試工程師</a>
        </div>
        <div class="col-12">
            <a href="/flow_chart/0">流程圖</a>
        </div>
        <div class="col-12">
            <a href="/">版本控制系統</a>
        </div>
        <div class="col-12">
            <a href="/">工程師詞彙</a>
        </div>
        <div class="col-12">
            <a href="/">技術債</a>
        </div>
        <div class="col-12">
            <a href="/">IDE</a>
        </div>
        <div class="col-12">
            <a href="/">低 GI</a>
        </div>
        <div class="col-12">
            <a href="/">CRM</a>
        </div>
        <div class="col-12">
            <a href="/other/0">Other</a>
        </div>
    </div>
    <br>
</div>
</body>
</html>