<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Miscellaneous</title>
</head>
<body>
<div class="container-fluid">
    <!-- 標題 -->
    <div class="row text-center my-3">
        <h1>Steven 的分享圖書館</h1>
    </div>

    <!-- 內容 -->
    <div class="row ms-5 my-5 fs-4 gap-5">
        <fieldset class="row my-3">
            <legend class="row fs-2">RD 相關</legend>
            <div class="row">
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vSNekxQB96Ffqd9Ich1AdniZdoZGOpg351cvrmb4tC5_e7ep18QILj_zC7bVS9fwZqW7sFXVNdEB-4O/pub?start=false&loop=false&delayms=3000">重構 (Refactor)</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQXzGO1dKSbApNrI2efYS0V-kWiu_guZKpGitkQsxJ2MWHW3PIFt03yQuCOSAHFRF2ksYm2OSC9_TIP/pub?start=false&loop=false&delayms=3000">狀態圖</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vRIDcO4xJhQ1ohgj2mjDGrMNPzv7h34qEWXVgNX7WtIwVga13DapIGhsxEMf6r7n_15zVVnHNtNRAvM/pub?start=false&loop=false&delayms=3000">活動圖</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vS_TTWw_yusUO-RgKfNMfqk9opAH-KM55hGcQmGeqn-h45RDPsGiOWIe99ELwe6l8wQTVVXzF-KPyH1/pub?start=false&loop=false&delayms=3000">ACID</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQI_vujv_o-wi4m_yXBkNuTxtu7ppe1OIl6DYOxlkp9FC64PetTsei6qqZ9HqyHI38I1YHNm801KxMG/pub?start=false&loop=false&delayms=3000">工程師要知道的10件事</a>
                </div>
            </div>
        </fieldset>
        <fieldset class="row my-3">
            <legend class="row fs-2">測試 相關</legend>
            <div class="row">
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vR6n9baZimBVr-seyFlg3-KFVbLhUhIHuR45uhCyNsKjed7nUfGr_Ap97odCdvdUUGL6qJGk_18s720/pub?start=false&loop=false&delayms=3000">軟體測試工程師</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vS3ULDJDCan3vpA4TikVNbwMtlYSAchM7wxB3kZfTol0TBQRx3bznWDhIcOn-qqUucd2bu7HHmp_pO0/pub?start=false&loop=false&delayms=3000">Selenium</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQ3-AZEeuvXD9L-2iLc0eqGE2CeK1Hf-DUzk8_eWjcDJMbB4TAVSQ6soWwcHkJ-8izeABlLc8dXb-oy/pub?start=false&loop=false&delayms=3000">測試工程師-技術名詞</a>
                </div>
            </div>
        </fieldset>
        <fieldset class="row my-3">
            <legend class="row fs-2">資訊 相關</legend>
            <div class="row">
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQ9Uw54lK17RJT7bwtbHETUzlw_qSsYgXuvYACqjl3P5-NmLs7csXFqs8h90i75wogGEkxg-H-8bUfC/pub?start=false&loop=false&delayms=3000">RWD (Responsive Web Design)</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQ28SazVcV_pGEUFXTPPuDd3cOpRFMlLL4yee1p8Me-BZUckTOnYBHuLuyVFN5-e4ZLK2V4BhT_gOhY/pub?start=false&loop=false&delayms=3000">UI/UX Concept</a>
                </div>
            </div>
        </fieldset>
        <fieldset class="row my-3">
            <legend class="row fs-2">工作 相關</legend>
            <div class="row">
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vQEW8VsxGVflbSl0Ji7rFT0yumwtNy9n59G76sQPo_QaIAKV0VaZ1vFErr2qd0HZ10KqRf9ed2hIBB9/pub?start=false&loop=false&delayms=3000">會議</a>
                </div>
            </div>
        </fieldset>
        <fieldset class="row my-3">
            <legend class="row fs-2">其他</legend>
            <div class="row">
                <div class="col-12">
                    <a href="/tree/0">樹狀階層控制 Demo</a>
                </div>
                <div class="col-12">
                    <a href="https://docs.google.com/presentation/d/e/2PACX-1vRORCQeD1csGQ57NWxTXrOr82ys5ZzyTgqFRC3XoMpmHjwH5AC8GcZ6jMquo6Jb6EEiz9IN48UDJ8q1/pub?start=false&loop=false&delayms=3000">技術名詞</a>
                </div>
                <div class="col-12">
                    <a href="/other/0">Other</a>
                </div>
            </div>
        </fieldset>
    </div>
</div>
</body>
</html>