<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>RWD (Responsive Web Design)</title>
</head>
<body class="bg-light">
<div class="container">
    <!-- 標題 -->
    <div class="row text-center py-3">
        <h1>RWD (Responsive Web Design)</h1>
    </div>

    <!-- 內容說明 -->
    <div class="row fs-4 text-center gap-5">
        <div class="row py-3">
            <div class="col-12 fs-3">
                <figure>
                    <blockquote class="blockquote">
                        <p>是一種網頁設計的技術，這種設計可使網站在不同的裝置（從桌面電腦顯示器到行動電話或其他行動裝置）上瀏覽時對應不同解析度皆有適合的呈現，減少使用者進行縮放、平移和捲動等操作行為</p>
                    </blockquote>
                    <figcaption class="blockquote-footer">
                        <cite title="Source Title">維基百科</cite>
                    </figcaption>
                </figure>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>目的</h2>
                <ol class="ms-4">
                    <li class="fw-bold">讓人可以在
                        <span class="text-danger fw-bold"> 不同 </span>
                        裝置上瀏覽
                        <span class="text-danger fw-bold"> 同 </span>一網頁
                    </li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>什麼時候開始?</h2>
                <ol class="ms-4">
                    <li>2010 年 5 月 </li>
                    <li>美國網頁設計師 Ethan Marcotte</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>從技術的角度說</h2>
                <ol class="ms-4">
                    <li>透過瀏覽器寬度決定網頁版面呈現的一種網頁技術</li>
                    <li>CSS 能在同一個 HTML 的文本中處理不同螢幕寬度的 style</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>裝置解析度</h2>
                <ol class="ms-4">
                    <li>桌上型電腦： 1024px以上</li>
                    <li>平板電腦： 720px～1024px</li>
                    <li>手機： 320px～720px</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>常聽到的 CSS framework</h2>
                <ol class="ms-4">
                    <li>Bootstrap</li>
                    <li>Tailwind</li>
                    <li>Foundation</li>
                    <li>Materialize</li>
                    <li>...</li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>傳統 VS RWD</h2>
                <div class="text-center row">
                    <img class="py-3" src="static/rwd/rwd_vs_legacy.png">
                </div>
                <div class="text-center">
                    <img class="py-3" src="static/rwd/rwd_vs_legacy.png">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col text-start">
                <h2>結論</h2>
                <span class="ms-4 fw-bold">
                    即便是使用 RWD 的 framework，也是需要經過設計才能有效果
                </span>
            </div>
        </div>

    </div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
</div>
</body>
</html>