<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>UI/UX</title>
</head>
<body>
<div class="container">
    <!-- 標題 -->
    <div class="row text-center py-3">
        <h1>UI/UX Concept</h1>
    </div>
    <br>

    <!-- 內容說明 -->
    <div class="row fs-4 gap-5">
        <div class="col text-start">
            <h2>UI (User Interface Design)</h2>
            <figure>
                <blockquote class="blockquote">
                    <p>指的是在使用者體驗和互動的指導下對電腦、電器、機器、移動通訊裝置、軟體或應用以及網站進行的設計</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">維基百科</cite>
                </figcaption>
            </figure>
            <ol class="ms-4">
                <li>全名為: 使用者介面設計</li>
                <li>專精於產品的呈現</li>
                <li>顏色、字型、字體大小、配置安排</li>
            </ol>
        </div>

        <div class="col text-start">
            <h2>UX (User Experience Design)</h2>
            <figure>
                <blockquote class="blockquote">
                    <p>是以使用者為中心的一種設計手段，以使用者需求為目標而進行的設計</p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    <cite title="Source Title">維基百科</cite>
                </figcaption>
            </figure>
            <ol class="ms-4">
                <li>全名為: 使用者經驗設計</li>
                <li>使用者體驗的過程</li>
                <li>優先順序、重要性、連貫性</li>
            </ol>
        </div>
        <div class="col-12 text-center">
            <img class="py-3" src="static/ui-ux-comparison-pyramid-min-1024x538.png">
        </div>

        <div class="row text-start">
            <h2>UI vs UX</h2>
            <img class="py-3" src="static/ui-ux-chart-comparison-min.png">
        </div>

        <div class="row text-start">
            <img class="py-3" src="static/ui-ux-comparison-min.png">
        </div>

        <div class="row text-start">
            <h2>UI、UX設計流程 -- 六大步驟</h2>
            <ul class="ms-4">
                <li>STEP 1. 網站需求瞭解</li>
                <li>STEP 2. 進行設計思考</li>
                <li>STEP 3. 繪製功能地圖</li>
                <li>STEP 4. 操作邏輯流程</li>
                <li>STEP 5. 製作DEMO</li>
                <li>STEP 6. 易用性測試</li>
            </ul>
        </div>

        <div class="row text-start">
            <h2>結論</h2>
            <ul class="ms-4">
                <li>UI - 觀感</li>
                <li>UX - 感受</li>
            </ul>
        </div>

    </div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
    <div class="row py-5"></div>
</div>
</body>
</html>