<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>狀態圖 (Statechart)</title>
</head>
<body class="bg-light">
<div class="container">
    <!-- 內容 -->
    <div class="row text-center py-3" style="height: 720px">
        <div class="col-12 py-5 text-start">
            <h1 class="display-2 fw-bold">例子: 人類</h1>
        </div>
        <div class="col-12 align-self-center">
            <div>
                <img class="py-3" src="/static/statechart/UML-statechart-ex1.drawio.svg" alt="例子">
            </div>
        </div>
    </div>

    <!-- 留白區 -->
    <div style="height: 720px"></div>

    <!-- 頁 控制-->
    <div class="row justify-content-between text-center py-5 display-1 fixed-bottom">
        <div class="col-2">
            <a href="/statechart/{{view_model.previous_page}}"><i class="bi bi-arrow-left-square"></i></a>
        </div>
        <div class="col-2">
            <a href="/statechart/{{view_model.next_page}}"><i class="bi bi-arrow-right-square"></i></a>
        </div>
    </div>
</div>
</body>
</html>