<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>Selenium</title>
</head>
<body class="bg-light">
<div class="container">
    <!-- 內容 -->
    <div class="row text-center py-5">
        <div class="row py-5">
            <div class="col-12">
                <h1 class="fw-bold">Selenium Grid</h1>
            </div>
        </div>

        <div class="row">
            <div class="col-12">
                <ul class="fs-2 text-start">
                    <li>Multiple browsers, versions, and operating systems</li>
                    <li>由 Java 驅動</li>
                    <li>由 Hub 和 Node 組成</li>
                </ul>
            </div>
        </div>
    </div>

    <!-- 頁 控制-->
    <div class="row justify-content-between text-center py-5 display-1 fixed-bottom">
        <div class="col-2">
            <a href="{{view_model.previous_page_route}}"><i class="bi bi-arrow-left-square"></i></a>
        </div>
        <div class="col-2">
            <a href="{{view_model.next_page_route}}"><i class="bi bi-arrow-right-square"></i></a>
        </div>
    </div>
</div>
</body>
</html>