<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>會議 (Meet)</title>
</head>
<body class="bg-light">
<div class="container">
    <!-- 內容 -->
    <div class="row text-center py-3" style="height: 720px">
        <div class="col-12 py-5" style="height: 220px">
            <h1 class="display-2 fw-bold">個人心得分享</h1>
        </div>
        <div class="col-12">
            <ul class="display-4 text-start">
                <li class="mb-5">圍繞白板開會</li>
                <li class="mb-5">寫下本次會議的目的</li>
                <li class="mb-5">結論 + 總結要點</li>
                <li class="mb-5">確認下一步行動</li>
            </ul>
        </div>
    </div>

    <!-- 頁 控制-->
    <div class="row justify-content-between text-center py-5 display-1 fixed-bottom">
        <div class="col-2">
            <a href="/meet/10"><i class="bi bi-arrow-left-square"></i></a>
        </div>
        <div class="col-2">
            <a href="/meet/12"><i class="bi bi-arrow-right-square"></i></a>
        </div>
    </div>
</div>
</body>
</html>