<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap5 核心 CSS -->
    <link rel="stylesheet"
          href="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/css/bootstrap.min.css">

    <!-- Bootstrap5 核心 JavaScript -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/5.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap icon -->
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">

    <!-- JQuery 核心 JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>

    <!-- 網頁圖標 -->
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <title>ACID</title>
</head>
<body class="bg-light">
<div class="container">
    <!-- 內容 -->
    <div class="row text-center my-5 mx-5" style="height: 450px">
        <div class="col-12 align-self-center">
            <p class="display-1 fw-bold">感謝大家聆聽</p>
        </div>
    </div>

    <!-- 頁 控制-->
    <div class="row justify-content-between text-center my-5 display-1 fixed-bottom">
        <div class="col-2">
            <a href="{{view_model.previous_page_route}}"><i class="bi bi-arrow-left-square"></i></a>
        </div>
        <div class="col-2">
            <a href="{{view_model.next_page_route}}"><i class="bi bi-arrow-right-square"></i></a>
        </div>
    </div>
</div>
</body>
</html>